<section class="hero">
    <div class="container hero-content">
        <div class="hero-text fade-in-left">
            <h1>
                <i class="fas fa-code"></i>
                مرحباً، أنا <span class="highlight">Khedidja</span>
            </h1>
            <p>
                <i class="fa-solid fa-laptop-code"></i>
                مُطورة برمجيات متخصصة في .NET
                <br />
                <i class="fa-solid fa-desktop"></i>
                أبني تطبيقات ويب وسطح مكتب بلمسة أنثوية وواجهة أنيقة.
            </p>
            <a href="#projects" class="hero-btn">
                <i class="fa-solid fa-folder-open"></i> اكتشف مشاريعي
            </a>
        </div>
        <div class="hero-image fade-in-right">
            <img src="dist/images/hero.png" alt="صورة تعبر عنك" />
        </div>
    </div>
</section>
